<ion-content class="ion-padding" style="height:89.5vh">
  <div class="all">
      <div class="title-container">
        <ion-text class="fire-text">SignIn</ion-text>
        <ion-icon class="fire-icon" name="flame-outline"></ion-icon>
      </div>
      <h4 class="subtitle">
        Please Sign in to continue:
      </h4>

      <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    
        <ion-card>
          <ion-item>
            <ion-input   
            label="Email"
            labelPlacement="floating"
            type="email" 
          >
          </ion-input>
          </ion-item>
        
          <ion-item>
            <ion-input type="password"             labelPlacement="floating" label="Password"></ion-input>
          </ion-item>

          <ion-card-content>
            Don't have an account? <ion-button class="signup" fill="clear">SignUp</ion-button>
          </ion-card-content>
        </ion-card>
      </form>
  </div>
</ion-content>
  