<ion-content class="ion-padding" style="height:89.5vh">
  <div class="all">
    <div class="first-line">
      <p class="hello">Hello, </p>
      <p class="welcome">Welcome to</p>
    </div>
    <div class="heading">Fire Alert App</div>
    <div class="main">
      <div class="para1">
        <div class="li"></div>
          <ion-icon name="return-down-forward-outline"></ion-icon>
          The Fire Alert App is your ultimate solution 
          for staying ahead of fire emergencies.<br>
        </div>
        <div class="li">
        <ion-icon name="return-down-forward-outline">
        </ion-icon>
          We understand the importance of swift and reliable 
          fire alerts, and we're here to ensure your safety 
          with our cutting-edge app.
        </div>
      </div>
      
      <div class="heading2"> Why Choose the Fire Alert App?</div>

      <ion-accordion-group class="acco" [multiple]="true" [value]="['first']">
        <ion-accordion class='each' value="first">
            <ion-item slot="header" class="heading3">
                <ion-label>🔥 Real-Time Fire Alerts:</ion-label>
            </ion-item>
            <div class="para2" slot="content">
              Our app is
              powered by IoT technology, delivering real-time fire 
              alerts to your smartphone. Receive immediate notifications 
              and gain crucial seconds for a rapid response.
            </div>
        </ion-accordion>

        <ion-accordion class='each' value="second">
          <ion-item slot="header" class="heading3">
              <ion-label>💼 Comprehensive Protection:</ion-label>
          </ion-item>
          <div class="para2" slot="content">
            We go beyond alerts. 
              Explore our comprehensive insurance services to safeguard 
              your home and valuable assets. Your peace of mind is our 
              priority.
          </div>
        </ion-accordion>


        <ion-accordion class='each' value="third">
          <ion-item slot="header" class="heading3">
              <ion-label>🚒 One-Touch Fire Department Access:</ion-label>
          </ion-item>
          <div class="para2" slot="content">
            In an emergency, every second counts. With just one touch, 
                connect directly to your local fire department for rapid 
                assistance.
          </div>
        </ion-accordion>
      </ion-accordion-group>
    <div class="para3">
        <div class="heading4">Join Our Community</div> 
        <p>Join the Fire Alert App community and be part of a network dedicated to 
          safety. Together, we can make our homes and communities more secure.
          Don't wait for disaster to strike. Download the Fire Alert App now 
          and take the proactive steps to ensure your peace of mind.
        </p>
    </div>
  </div>
</ion-content>