<ion-content class="ion-padding" style="height:88vh">
    <div class="all">
        <div class="title-container">
            <ion-text class="fire-text">Important Numbers</ion-text>
            <ion-icon class="fire-icon" name="flame-outline"></ion-icon>
          </div>
          <h4 class="subtitle">
            Here are some of the important numbers:
          </h4>
        

        <ion-accordion-group class="acco" [multiple]="true" [value]="['first', 'third']">
            <ion-accordion class='each' value="first">
            <ion-item slot="header" color="light">
                <ion-label>Fire Department Hotline</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                10002
                <ion-button>Call Now</ion-button>
            </div>
            </ion-accordion>
            <ion-accordion class='each' value="second">
            <ion-item slot="header">
                <ion-label>Fire Department No.</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                981498734
                <ion-button>Call Now</ion-button>
            </div>
            </ion-accordion>
            <ion-accordion class='each' value="third">
            <ion-item slot="header" color="light">
                <ion-label>First Aid Information</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
                Basic First Aid for fire:
            </div>
            </ion-accordion>
        </ion-accordion-group>
    </div>
</ion-content>
